.circleRating {
  background: var(--black);
  border-radius: 50%;
  padding: 2px;
  .CircularProgressbar-text {
    font-size: 34px !important;
    font-weight: 700;
    fill: var(--black) !important ;
  }
  .CircularProgressbar-trail {
    stroke: transparent;
  }
}
